<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <h1>DELETE ALL TASKS</h1>
        <form action="/deleteAll" method="POST">
            <br/>
            <input type="submit" name="submit" value="DELETE COMPLETE"/>
        </form>
        <br/>
        <table>
            <tr>
                <td><a href="http://localhost:8080/">Home</a></td>
                <td><a href="http://localhost:8080/newtask">Add-Task</a></td>
                <td><a href="http://localhost:8080/listtask">List-All-Tasks</a></td>
                <td><a href="http://localhost:8080/update">Update</a></td>
                <td><a href="http://localhost:8080/deleteTask">Delete-One</a></td>
                <td><a href="http://localhost:8080/deleteAll">Delete-All-Tasks</a></td>
                <td><a href="http://localhost:8080/newDeveloper">Add-Developer</a></td>
                <td><a href="http://localhost:8080/listDeveloper">List-All-Developers</a></td>
            </tr>
        </table>
    </body>
</html>